* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #000000;
    font-family: sans-serif;
}

.main {
    background-image: url("Assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1700px, 100vw);
    height: 85vh;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70vw;
    /*total hight 80 per aye ge*/
    margin: auto;
    /*content beech mai ajaye ga*/
    height: 55px;
}

nav img {
    color: rgb(229, 9, 20);
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.main .box {
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 0;
    opacity: 0.45;
    background-color: #000;
}

.hero {
    width: 50vw;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 55px);
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero-span1 {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 125%;
}

.hero-span2 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.hero-span3 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.separation {
    height: 7px;
    background-color: rgb(59, 57, 57);
    position: relative;
    z-index: 20;
}

.btn {
    background-color: white;
    font-weight: 200;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(33, 33, 32, 0.717);
    color: white;
    border: 1px solid rgb(176, 169, 169);
    cursor: pointer;

}

.btn-red-sm {
    background-color: red;
    color: white;
    border: none;
}


.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-red {
    background-color: red;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
}

.main input {
    background-color: rgba(23, 23, 23, 0.724);
    color: white;
    font-size: 15px;
    padding: 14px 102px 14px 15px;
    border-radius: 4px;
    border: 1px solid rgba(226, 214, 214, 0.724);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    max-width: 100%;
    /* padding:  20px 0; */
    box-sizing: border-box;
    margin: auto;
    color: white;
}

.first>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0px;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 16px;
}

.secImg {
    position: relative;
}

.secImg img {
    position: relative;
    z-index: 10;

}

.secImg video {
    position: absolute;
    top: 50%;
    /* move to center vertically */
    left: 50%;
    /* move to center horizontally */
    transform: translate(-50%, -50%);
    /* perfectly center */
    width: 280px;
    /* keep your desired size */
    z-index: 5;
    /* keep video behind the image if needed */
}

.fourth {
    padding: 80px;
}

.faq h1 {
    text-align: center;
    font-size: 44px;
    margin: 50px auto;
}

.faq {
    color: white;
    margin: 50PX auto;
}

.faqbox {
    transition: all 1s ease-in;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    max-width: 66vw;
    margin: 15px auto;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
}

.faqbox:hover {
    background: #414141;
}

.faq input {
    background-color: rgba(23, 23, 23, 0.724);
    color: white;
    font-size: 15px;
    padding: 14px 102px 14px 15px;
    border-radius: 4px;
    border: 1px solid rgba(226, 214, 214, 0.724);
}

.faq-span {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 15px;
    /* padding-bottom: 15px; */
}

footer {
    color: white;
    max-width: 70vw;
    margin: auto;
    padding: 30px;
}


footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 20px 0;
}


.footer-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


@media screen and (max-width:1000px) {
    nav {
        max-width: 90vw;
    }
    
    nav img{
        max-width: 35vw;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 33px;
    }

    .hero-span1 {
        font-size: 32px;
    }

    .hero-span2 {
        font-size: 18px;
    }

    .hero-span3 {
        font-size: 15px;
    }

    .hero-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .first {
        flex-wrap: wrap;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 70vw;
    }

    .first>div :nth-child(1) {
        font-size: 32px;
        font-weight: bolder;
    }

    .faq h1 {
        text-align: center;
        font-size: 32px;
        max-width: 80vw;
        /* margin: 50px auto; */
    }

    .faqbox:hover {
        background: #414141;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .footer-item {
        padding: 8px 0;
        align-items: center;

    }
}